.header{
	background-color: #F0F8FF;
}

.footer{
	background-color: #F0F8FF;
}
.banner{
	width: 1360px;
	height: 444px;
}
.produto{
	width: 200px;
	height: 200px;
}

.botao{
	text-decoration: none;
	color: #808080;
}